.cloudshader {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}
.cloudshader canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}
